@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin respond($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}