$c-white: #ffffff;
$c-black: #000000;

$c-gray900: #1f2429;
$c-gray800: #353a3f;
$c-gray700: #575e64;
$c-gray600: #6e757c;
$c-gray500: #8c939a;
$c-gray400: #acb3ba;
$c-gray300: #cfd4d9;
$c-gray200: #dee2e6;
$c-gray100: #ecf0f4;
$c-gray50: #f4f6fa;

$c-primary900: #0a2f75;
$c-primary800: #0d3e9b;
$c-primary700: #114dc0;
$c-primary600: #145ce6;
$c-primary500: #3574ed;
$c-primary400: #5b8ef1;
$c-primary300: #80a8f4;
$c-primary200: #a6c2f7;
$c-primary100: #c7d8fa;
$c-primary50: #ecf2fd;

$c-red900: #9b0d0d;
$c-red800: #c01111;
$c-red700: #e61414;
$c-red600: #ed3535;
$c-red500: #f15b5b;
$c-red400: #f48080;
$c-red300: #f7a6a6;
$c-red200: #ffcfcf;
$c-red100: #fdecec;

$c-yellow600: #eeab00;
$c-yellow500: #ffcc00;
$c-yellow400: #ffd633;
$c-yellow300: #ffe066;
$c-yellow200: #fff0b3;
$c-yellow100: #fff7d9;

$c-green600: #009645;
$c-green500: #0cb459;
$c-green400: #31d17b;
$c-green300: #71e6a7;
$c-green200: #b1f2cf;
$c-green100: #e4fbea;

$c-teal600: #0f88c8;
$c-teal500: #00afe5;
$c-teal400: #29d1ff;
$c-teal300: #7fe3ff;
$c-teal200: #a9edff;
$c-teal100: #e4f9ff;

$c-purple600: #6b3cc9;
$c-purple500: #8556e3;
$c-purple400: #a17df5;
$c-purple300: #bd9ff5;
$c-purple200: #d4c4f5;
$c-purple100: #f5ebff;

$c-kakao-bg: #ffe500;
$c-apple-bg: #000000;
$c-naver-bg: #03c75a;
