.d-block {
  display: block !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-none {
  display: none !important;
}
@each $break, $bp in $breakpoints {
  @media (min-width: $bp) {
    .d-#{$break}-block {
      display: block !important;
    }
    .d-#{$break}-none {
      display: none !important;
    }
  }
}
